body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: blueviolet;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 9px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1.5px solid burlywood;
}

button {
    width: 65%;
    margin-left:70px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    text-decoration: none;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.flash-messages {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.flash-messages li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.flash-messages .success {
    background-color: #d4edda;
    color: #155724;
}

.flash-messages .error {
    background-color: #f8d7da;
    color: #721c24;
}
